.casa{
    width: 200px;
    height: 20%;
    font-size: 80px;
    color: #FDFFFC;
    cursor: pointer;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    float: left;
    top: 50px;
    padding: 3%;
    border: solid 1px #f0eaea;
}


#botao{
    width: 20% !important;
    background-color: #F71735;
    margin: 30px;
    color: #FDFFFC;
    border: #F71735;
    margin-left: 20%; 
}
#botao:hover{
    background-color: #f0eaea;
    color: #F71735;
}

#aluno{
    color: #f0eaea;
    margin: 30px;
}

.entrada{
    margin: 10px;
}

.label{
    color: #f0eaea;
    margin-left: 5%;
}

body{
    background-color: #09090c !important;
}