.casa{
    width:200px;
    height:100%;
    background: #99ccff;
    font-size: 80px;
    color: #ff0000;
    cursor: pointer;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    float:left;
    border-right:solid 1px;
}

#jogo{
    width:603px;
    height:600px;
    border:solid 3px
}

.linha{
    height:200px;
    border-bottom:solid 1px;
}